.headings {
  height: 20vh;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.card {
  background: $white;
  width: 100%;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

// * card top

.card-top {
  border-bottom: 1px solid $gray;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  & > div {
    margin: 3rem 0;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

#amount {
  font-size: 4rem;
  color: $dark-blue;
}

.slider {
  position: relative;
  width: 100%;
  height: 8px;
  background: hsl(224, 65%, 95%);
  border-radius: 5px;
  #cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $cyan;
    padding: 1rem;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: $cyan 0px 22px 70px 4px;
  }

  #fill {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    height: 8px;
    border-radius: 5px;
    width: 50%;
    background: $cyan;
  }
}

.billing {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  #discount {
    background: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    padding: 0.5rem;
    border-radius: 20px;
    margin: 0 1rem;
  }
}

//* card bottom
.card-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  list-style: none;
  li {
    margin: 1rem;
    &:before {
      content: url("/public/images/icon-check.svg");
      padding: 1rem;
      width: 50px;
    }
  }
}

button {
  border: 0;
  background: $dark-blue;
  color: hsl(226, 100%, 87%);
  padding: 1rem 4rem;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  text-align: center;
  &:hover {
    // background: $black;
    // color: $white;
  }
}
