.slider-container {
  width: 100%; /* Width of the outside container */
  position: relative;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  //   background: $cyan;
  background-color: hsl(224, 65%, 95%);
  background-image: -webkit-gradient(
    linear,
    50% 0%,
    50% 100%,
    color-stop(0%, $cyan),
    color-stop(100%, $cyan)
  );
  background-size: 50% 100%;
  background-repeat: no-repeat;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#slider::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
  background-color: $cyan;
  background-image: url("/images/icon-slider.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: $cyan 0px 22px 70px 4px;
}

#slider::-moz-range-thumb {
  width: 32px;
  height: 32px;
  border: 0;
  background: url("/images/icon-slider.svg");
  cursor: pointer;
}
