@import url("https://fonts.google.com/specimen/Manrope");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  color: #858fad;
  height: 100%;
  background: #fafbff;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem;
}

h1 {
  color: #293356;
  margin: 2rem 0;
}

section {
  position: relative;
  padding: 6rem;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.headings {
  height: 20vh;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 4rem;
}

.headings img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.card {
  background: white;
  width: 100%;
  border-radius: 8px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-top {
  border-bottom: 1px solid #858fad;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.card-top > div {
  margin: 3rem 0;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

#amount {
  font-size: 4rem;
  color: #293356;
}

.slider {
  position: relative;
  width: 100%;
  height: 8px;
  background: #eaeefb;
  border-radius: 5px;
}

.slider #cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #10d5c2;
  padding: 1rem;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-box-shadow: #10d5c2 0px 22px 70px 4px;
          box-shadow: #10d5c2 0px 22px 70px 4px;
}

.slider #fill {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 8px;
  border-radius: 5px;
  width: 50%;
  background: #10d5c2;
}

.billing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.billing #discount {
  background: #feece7;
  color: #ff8c66;
  padding: 0.5rem;
  border-radius: 20px;
  margin: 0 1rem;
}

.card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list {
  list-style: none;
}

.list li {
  margin: 1rem;
}

.list li:before {
  content: url("/public/images/icon-check.svg");
  padding: 1rem;
  width: 50px;
}

button {
  border: 0;
  background: #293356;
  color: #bdccff;
  padding: 1rem 4rem;
  font-weight: bold;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  text-align: center;
}
